:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero-section {
  padding: 80px 0;
  text-align: center;
  background-color: #535bf2;
  color: #fff;
}

.hero-heading {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 40px;
}

.hero-button {
  padding: 12px 32px;
  font-size: 1.2em;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #646cff;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #242424, #1a1a1a);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.token-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

.token-symbol {
  font-size: 1.2em;
  font-weight: 500;
}

.token-balance {
  display: table;
  word-break: break-all;
  font-size: 1.5em;
  margin-top: 10px;
  width: 100px;
}

.button-wrapper {
  position: relative;
}

.button-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.button-wrapper.loading .button-loader {
  display: inline-block;
}

.token-balance-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
